.servicesCards{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    margin: 50px 0;
}

.ServicesCatigories{
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}