.footerContainer {
  background-color: #602ba3;
  padding: 10px 0px 20px 0px;
}

.footerContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  flex-direction: row;
  color: #fff;
}

.leftSide {
  margin-bottom: 30px;
}

.footeritem {
  display: flex;
  justify-content: space-between; 
}

.leftSide .mediaIcons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.company h3,
.legal h3 {
  color: #fff;
  font-family: Philosopher;
  font-weight: bolder;
  margin-bottom: 10px; /* Bottom margin for headings */
}

.company ul,
.legal ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.company ul li,
.legal ul li {
  font-family: Philosopher;
  color: #fff;
}

.footerContainer hr {
  border-color: #fff; /* Adjusted border color */
}

.copyRights {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-family: Philosopher;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .footerContent {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center align items */
  }
}
