.footerContainer{
    background-color: #602BA3;
    padding: 100px 0px 20px 0px;
}
.footerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftSide{
    margin-bottom: 30px;
}
.leftSide h1, .leftSide p{
    color: #fff;
}

.leftSide p{
    font-size: 16px;
    font-family:Philosopher;
}

.leftSide .mediaIcons{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
}
.leftSide h1{
    font-family:Acme;
    font-size: 45px;
    margin-bottom: 20px;
}
.rightSide{
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #fff;
    margin-bottom: 30px;
}

.rightSide div h3{
    text-align: center;
    font-family:Philosopher;
    font-weight: bolder;
}

.rightSide div ul{
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
}
.rightSide div ul li{
    font-family:Philosopher;
}

.footerContainer hr{
    color: #fff;
}

.copyRights{
    text-align: center;
    color: #FFf;
    margin-top: 30px;
    font-family:Philosopher;
    font-size: 20px;
}