.loginContainer {
  display: flex;
}

.leftSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/authPages/loginBg.svg");
  flex-direction: column;
  gap: 1em;
  background-position: center;
}

.leftSide h2,
.leftSide h1 {
  width: 60%;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.rightSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginMobileLogo {
  font-size: xx-large;
  font-weight: 900;
  margin: 100px 0;
}

.brawserWelcomeText {
  font-size: xx-large;
  font-weight: 900;
  margin: 0px 0 20px 0;
}

.loginMobileLogo {
  display: none;
}

.loginForm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginForm form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 50%;
  gap: 1.75em;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup label{
  color: #757575;
  font-size: 12px;
}

.inputGroup input{
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
}

.ForgetPassword {
  text-decoration: none;
  text-align: right;
  width: 98%;
  color: #1567ff;
}

.authWith {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

.authWithChiled {
  display: flex;
  align-content: center;
  padding: 5px;
  max-width: 450px;
}