.heroContent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #E0C8FE;
}

.heroLeftImg, .heroRightImg{
    width: 19%;
    max-width: 300px;
}

.heroLeftImg img, .heroRightImg img{
    width: 100%;
}

.heroText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 56%;
}

.heroTextContent{
    width: 75%;
    text-align: center;
}


.tagLine{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: inline-size;
}

.tagLine ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    color: #9EA3B5;
    width: 60%;
    font-weight: bolder;
    gap: 1vw;
}
.tagLine ul li{
    font-family: Philosopher;
}
.title{
    text-align: center;
    container-type: inline-size;
}

.title h4{
    color: #000;
    font-size: 8cqw;
    text-align: center;
    font-family: Acme;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: #FF9300;
    container-type: inline-size;
}

.feature div , .feature div svg{
    font-size: 2.5cqw;
}
.feature div span{
    font-family: Philosopher;
    font-size: 18px;
    font-weight: bolder;
}
.highlights{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 3vw auto 0 auto;
    max-width: 100%;
}

.highlights div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    font-size:18px;
    font-weight: bolder;
    font-family: Philosopher;
    text-align: center;
}

.highlights div svg{
    width: 3cqw;
}

.highlights div div{
    display: block;
    
}
/*  */
@media screen and (min-width:375px) and (max-width:767px) {
    .tagLine ul {
        justify-content: center;
        gap: 3vw;
    }
    .feature{
        align-items: start;
        justify-content:start;
    }
    
    .feature div , .feature div svg{
        font-size:10cqw;
    }
.highlights{
    margin: 40px 0px 0px 0px;
    max-width:100%;
}
.highlights div svg{
    width: 3cqw;
}
.highlights div{
    gap: 1em;
    font-size:9px;
}
.heroLeftImg, .heroRightImg{
    width: 25%;
}
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .tagLine ul {
        justify-content: center;
        gap: 3vw;
    }
.feature div , .feature div svg{
    font-size: 3cqw;
}
.highlights{
    margin: 20px auto;
    max-width:100%;
}
.highlights div svg{
    width: 3cqw;
}
.highlights{
    position: relative;
    z-index: 1;
}
}
@media screen and (min-width:1024px) and (max-width:1440px) {}
@media screen and (min-width:100px) and (max-width:375px) {
    .tagLine ul {
        justify-content: center;
        gap: 3vw;
    }
    .feature{
        align-items: start;
        justify-content:start;
    }
    
    .feature div , .feature div svg{
        font-size:10cqw;
    }
.highlights{
    margin: 40px 0px 0px 0px;
    max-width:100%;
}
.highlights div svg{
    width: 3cqw;
}
.highlights div{
    gap: 1em;
    font-size:9px;
}
.heroLeftImg, .heroRightImg{
    width: 25%;
}
}